@import './../../../../assets/styles/colors.scss';

.header {
    height: 148px;
    width: 100%;
    background: $header-color;
}

.main {
    margin: auto;
    padding: 30px 30px;
}

.user {
    display: flex;
    justify-content: end;
    gap: 20px;

    .section {
        display: flex;
        gap: 10px;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 14px;

        .name {
            min-width: 141px;
        }
    }
}

.ml-36 {
    margin-left: 36px;
}

.btn-logout {
    background: #ff500e;
    border: none;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        color: $header-color;
    }
}