@import './../../../../assets/styles/colors.scss';

table {
    width: 100%;
    border: 1px solid #ccc;
    ;
    border-collapse: collapse;
}

th {
    background: #ccc;
    text-align: left;
}

th,
td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.custom-select {
    min-width: 350px;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.filter-group {
    display: flex;
    padding: 20px;
    border: 1px solid $grey;
    gap: 5px;
    border-radius: 5px;
}