@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$font-family: 'Poppins', sans-serif;
$fs-lg :26px;
$fs-md :18px;
$fs-sm :13px;
$fs-xs :11px;

.fs-lg {
    font-size: $fs-lg;
}

.fs-md {
    font-size: $fs-md;
}

.fs-sm {
    font-size: $fs-sm;
}

.fs-xs {
    font-size: $fs-xs;
}

.fw-700 {
    font-weight: 700;
}